
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/inicio" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">{{nombreUsuarioCuenta}}</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item" ><a routerLink="/revistasPublicadas" class="nav-link" routerLinkActive="active" aria-current="page">Revistas Publicadas</a></li>
          <li class="nav-item" ><a routerLink="/menu/explorarRevistas" class="nav-link" routerLinkActive="active" aria-current="page">Explorar Revistas</a></li>
          <li class="nav-item" (click)="editarPerfilComponent?.ngOnInit()"><a routerLink="/menu/editarPerfil" class="nav-link" routerLinkActive="active" aria-current="page">Editar Perfil</a></li>
          <li class="nav-item"><a routerLink="/login" class="nav-link" routerLinkActive="active" aria-current="page" (click)="myFunc()">Cerrar Sesión</a></li>
      </ul>
  </header>
</div>


<section class="section">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>

<app-footer></app-footer>
